body {
  margin: 0;
  background-color: darkcyan;
  align-content: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
